<!DOCTYPE html>
<html>

<head>
  <% include ./partials/header %>
</head>
<body>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Restaurant Name</th>
                <th>Country</th>
                <th>City</th>
                <th>Address</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < data.length; i++) { %>
                <tr>
                <th><%= data[i].restaurantsName %></th>
                <th><%= data[i].country %></th>
                <th><%= data[i].city %></th>
                <th><%= data[i].address %></th>
                <th><img src="<%= data[i].avatar %>" alt="Image" srcset=""></th>
            </tr>
            <% } %>
        </tbody>
    </table>
</body>